files:
  "/etc/cron.d/mycron2":
    mode: "000644"
    owner: root
    group: root
    content: |
      0 */12 * * * root . /opt/elasticbeanstalk/deployment/env && /usr/bin/php /var/app/current/artisan device:check 1>> /dev/null 2>&1

  "/etc/cron.d/mycron3":
    mode: "000644"
    owner: root
    group: root
    content: |
      0 0 */1 * * root . /opt/elasticbeanstalk/deployment/env && /usr/bin/php /var/app/current/artisan device:check-battery 1>> /dev/null 2>&1

commands:
  01_remove_cron_cache:
    command: "find /etc/cron.d/ -type f ! -name 'mycron2' ! -name 'mycron3' -delete && touch /etc/cron.d/.placeholder"
